/* Colors 
background: #43D2FF;
background: #292E47;
background: #F4F6FC;
background: #ECF7FF;
background: #6B708D;
background: #A2D6F9;
background: #D1EDFF;
background: #FFC600;
background: #292E47;
background: #FFFFFF;
background: #514D67;
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}


/* Typography */

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h5 {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}

.p-big {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.caption {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.caption-small {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}


/* Header starts here */

.head {
  justify-content: space-between;
  margin: 3%;
}

.nav-bar-large {
  display: none;
  align-items: center;
}
.nav-btn-large {
  display: none;
}

.top-menu {
  justify-content: space-between;
}

.top-menu li {
  padding: 0% 2%;
}

.top-menu a:current {
  color: #072AC8;
}

.top-menu a {
  color:#6B708D;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

.btn-blue {
  background-color: #072AC8;
  color: white;
  padding: 2%;
}
.head .icon {
  color: #072AC8;
}


/* Responsive */

@media only screen and (min-width: 768px) {
  .head {
    margin: 70px 170px;
  }
  .top-menu li {
    padding: 0px 30px;
  }
  .btn-blue {
    padding: 15px 36px;
  }
  .nav-bar-large {
    display: flex;
  }
  .nav-btn-large {
    display: block;
  }
  .head .icon {
    display: none;
  }
}