/* Colors 

background: #43D2FF;
background: #292E47;
background: #F4F6FC;
background: #ECF7FF;
background: #6B708D;
background: #072AC8;
background: #A2D6F9;
background: #D1EDFF;
background: #FFC600;
background: #514D67;
background: #292E47;
background: #FFFFFF;
background: #524E79;
background: #DEDEDE;

*/

/* Typography

//styleName: Headline/Regular;
font-family: Roboto;
font-size: 17px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

//styleName: Caption/1;
font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

//styleName: Body/Regular;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

//styleName: H4;
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

//styleName: H3;
font-family: Roboto;
font-size: 40px;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: left;

//styleName: H2;
font-family: Roboto;
font-size: 50px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;

//styleName: Headline/Medium;
font-family: Roboto;
font-size: 17px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

//styleName: H1;
font-family: Roboto;
font-size: 60px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0em;
text-align: left;

//styleName: Caption/2;
font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

//styleName: Body/Medium;
font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
*/

